
algoritmos en python/venv/tcl/

algoritmos en python/venv/Lib/encodings/cp869.py

algoritmos en python/venv/Scripts/wheel.exe

algoritmos en python/venv/Scripts/pythonw.exe

algoritmos en python/venv/Scripts/python27.dll

algoritmos en python/venv/Scripts/python.exe

algoritmos en python/venv/Include/

algoritmos en python/venv/Lib/

algoritmos en python/venv/Scripts/

perceptron/perceptron.rar

*.jpg
